
@model IEnumerable<_1670webdemo.Models.Category>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Category index";
}
@{ if (HttpContext.Current.Session["Username"] == null)
    {
        Response.Redirect("~/Accounts/Login");
    } else {
        if (HttpContext.Current.Session["AccountType"].ToString() != "Staff" || HttpContext.Current.Session["AccountType"].ToString() != "Admin")
        {
            Response.Redirect("~/Home/Index");
        }
    }
}
<h2 class="text-center">@ViewBag.Title</h2>
@if (HttpContext.Current.Session["Username"] != null)
{
    if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
    {
        //Hide when login as trainer and trainee
    }
    else
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
    }
}
<table class="table table-bordered" id="example1">
    <thead class="table thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatDesc)
            </th>
            @if (HttpContext.Current.Session["Username"] != null)
            {
                if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
                {
                    //Hide when login as trainer and trainee
                }
                else
                {
                    <th>Modify</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatDesc)
        </td>
        @if (HttpContext.Current.Session["Username"] != null)
        {
            if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
            {
                //Hide when login as trainer and trainee
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CatID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CatID }, new { onclick = "return confirm('Are you sure you wish to delete this category ?');" })
                </td>
            }
        }
        else
        {
            <td></td>
        }

    </tr>
}
    </tbody>
</table>