@model IEnumerable<_1670webdemo.Models.Trainer>

@{
    ViewBag.Title = "Trainers index";
}
@{ if (HttpContext.Current.Session["Username"] == null)
    {
        Response.Redirect("~/Accounts/Login");
    } }
<h2 class="text-center">@ViewBag.Title</h2>

@if (HttpContext.Current.Session["Username"] != null)
{
    if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
    {
    }
    else
    {
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p> }
}
<table class="table table-bordered" id="example1">
    <thead class="table thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerSpec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerAddr)
            </th>
            @if (HttpContext.Current.Session["Username"] != null)
            {
                if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
                {
                }
                else
                {
                    <th>Modify</th>
                }
            }
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Username)
            </td>
            <td id="hidepass">
                @Html.DisplayFor(modelItem => item.Account.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerSpec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerAddr)
            </td>
            @if (HttpContext.Current.Session["Username"] != null)
            {
                if (HttpContext.Current.Session["AccountType"].ToString() == "Trainer" || HttpContext.Current.Session["AccountType"].ToString() == "Trainee")
                {
                }
                else
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TrainerID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TrainerID }, new { onclick = "return confirm('Are you sure you wish to delete this trainer ?');" })
                    </td>
                }
            }
            else
            {
                <td></td>
            }

        </tr>
    }

</table>
